In [17]:
nums = [3, 2, 2, 3]
val = 3

# Extract all elements NOT equal to value
not_equals = [num for num in nums if num != val]
not_equals

k = len(not_equals)
nums[:k] = not_equals  # In-place replace nums

# Done. First, k elements NOT equal to value
# Also we don't care what comes after k-th element
nums

[2, 2]

[2, 2, 2, 3]

In [18]:
# In-place replace
fruits = ['apple', 'banana', 'kiwi', 'mango']
fruits[:2] = ['orange', 'lemon']
fruits

['orange', 'lemon', 'kiwi', 'mango']

In [23]:
def remove_element(nums):
  # Extract all elements NOT equal to value
  not_equals = [num for num in nums if num != val]
  k = len(not_equals)

  # In-place replace nums
  nums[:k] = not_equals
  return k


nums = [3, 2, 2, 3]
val = 3
remove_element(nums)
nums

2

[2, 2, 2, 3]

In [22]:
nums = [0, 1, 2, 2, 3, 0, 4, 2]
val = 2
remove_element(nums)
nums

5

[0, 1, 3, 0, 4, 0, 4, 2]